<h3>Kontaktinformācija</h3>
<dl>
  <dt>ID</dt>
  <dd><%= @order.id %></dd>
  <dt>E-PASTS</dt>
  <dd><%= @order.email %></dd>
  <dt>TĀLRUNIS</dt>
  <dd><%= @order.phone_number %></dd>
</dl>
<h3>Piegādes adrese</h3>
<dl>
  <dt>VĀRDS</dt>
  <dd><%= @order.ship_to_first_name %></dd>
  <dt>UZVĀRDS</dt>
  <dd><%= @order.ship_to_last_name %></dd>
  <dt>ADRESE</dt>
  <dd><%= @order.ship_to_address %></dd>
  <dt>PILSĒTA</dt>
  <dd><%= @order.ship_to_city %></dd>
  <dt>PASTA INDEKSS</dt>
  <dd><%= @order.ship_to_postal_code %></dd>
  <dt>VALSTS</dt>
  <dd><%= @order.ship_to_country %></dd>
</dl>
<h3>Pasūtījuma informācija</h3>
<table border="1">
<% for item in @order.order_items %>
      <tr><td>
    <%= link_to item.product.name, :action => "show", :controller => "../catalog",
                :id => item.product.id %>
    <%= pluralize(item.amount, "pc", "pcs") %>,
    $<%= item.price * item.amount %><br/>
      </td></tr>
<% end %>
  <tr><td><strong>Kopā: </strong>$<%= @order.total %></td></tr>
  </table>

<p>
  <%= button_to "Apstiprināt pasūtījumu", :action => 'close',
                :id => @order unless @order.closed? %>
</p>